<html>
<head>
	<title>Dev Hobbyist</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="lib/bootstrap-4.3.1-dist/css/bootstrap.min.css">
	<link href="/lib/fontawesome-free-5.10.1-web/css/fontawesome.css" rel="stylesheet">
	<link href="/lib/fontawesome-free-5.10.1-web/css/brands.css" rel="stylesheet">
	<link href="/lib/fontawesome-free-5.10.1-web/css/solid.css" rel="stylesheet">

	<script type="text/javascript" src="lib/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="lib/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-12 text-center py-3"><h3>Dev Hobbyist</h3></div>
		</div>
		<div class="row">
			<div class="col-12 text-center border-bottom">
				<span style="margin:5px"><a href="/">Home</a></span>
				{CATEGORY_LIST_MENU}
			</div>
		</div>
		{RECENT_POST_LIST_BY_CATEGORY}
	</div>
</body>
</html>